<html class="bg-blue-900">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Make a Wish presents Rising Stars</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body class="text-white font-sans">
  <div class="fixed inset-0">
    <div class="absolute inset-0 gradient-background"></div>
    <canvas class="w-full h-screen" id="canvas"></canvas>
  </div>
  <section class="relative z-10">