<div class="max-w-6xl mx-auto lg:px-6 px-4 pb-12">
  <div class="lg:pt-12 pt-6 flex items-end">
    <h1 class="text-2xl">
      <a href="/">
        <img class="h-auto lg:w-64 w-48" src="{{ global.logo }}" alt="{{ global.title }}">
      </a>
    </h1>
    <div class="mobile-menu ml-auto flex lg:flex-row flex-col lg:static fixed z-10 inset-0 lg:p-0 md:p-12 p-8 lg:pt-0 pt-8 lg:bg-transparent bg-white items-center lg:h-auto h-screen lg:shadow-none shadow-xl">
      <nav class="lg:flex justify-center items-center lg:w-auto w-full lg:mb-0 mb-8">
        {%- for item in global.navigation -%}
        <a class="lg:ml-8 border-b transition-1 border-transparent hover:border-white lg:text-white text-black lg:font-normal font-black lg:inline-block block lg:text-base text-3xl lg:mb-0 mb-4 lg:font-sans font-serif" href="{{ item.url }}">{{ item.name }}</a>
        {%- endfor -%}
      </nav>
      <a class="block lg:ml-8 lg:py-2 py-4 px-4 transition-1 bg-blue-700 hover:bg-blue-800 rounded font-black lg:text-base text-xl text-center lg:w-auto w-full" href="{{ global.tickets.url }}" target="_blank" rel="noopener noreferrer">{{ global.tickets.name }}</a>
    </div>
    <button id="menu-button" onclick="openMenu()" class="lg:hidden block ml-auto py-2 px-4 bg-blue-700 hover:bg-blue-800 rounded relative z-20">Menu</button>
  </div>
</div>